.valid_svg{
    width: 30px;
    height: 30px;
    background-color: white;
}
.valid_svg:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.1s ease-in-out;
}
.valid_svg:not(:hover){
    scale: 1;
    transition: 0.1s ease-in-out;
}